@import url('https://fonts.cdnfonts.com/css/gemsbuck-01');

@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    place-content: center;
    min-height: 100vh;
    background: #050b18;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 250;
}


/* Parralax Fuckery */
.parallax {
    height: 100vh;
    /* Adjust as needed for content */
    width: 100%;
    perspective: 1px;
    /* Enables 3D perspective for depth */
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Ensures full height of parent */
    background-attachment: fixed;
    /* Keeps the background fixed while scrolling */
}

.layer-top {
    padding-top: 15vw;
    background-image: url("images/top.svg");
    background-position: bottom ;
    /* Or adjust as needed */
    background-repeat: no-repeat;
    background-size: 100vw;
    
    /* Adjust the value as desired */
    transform: translateZ(-300px);
    /* Moves layer further back */
    z-index: 3;
    /* Sets the stacking order */
}

.layer-mid {
    background-image: url("images/mid.png");
    background-position: bottom center;
    /* Or adjust as needed */
    background-repeat: no-repeat;
    background-size: 80vh;
    transform: translateZ(-300px);
    /* Moves layer in the middle */
    z-index: 2;
    /* Sets the stacking order */
}

.content {
    padding: 100px;
    text-align: right;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 120px;
}

.layer-bottom {
    background-image: url("images/bottom.png");
    background-position: bottom center;
    /* Or adjust as needed */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    transform: translateZ(-400px);
    /* Moves layer closer to the front */
    z-index: 1;
    /* Sets the stacking order */
}

.head1{
    font-family: 'Gemsbuck 01', sans-serif;
    font-size: 60px;
    color: #fff;
    width:50vh;
    /* Make the text justified aligned */
}

.register-button{
    background-color: #F0A31A;
    color: #050b18;
    padding: 20px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    top: 20px;
font-size: 14px;
font-weight:bolder;
display: block;
margin-left: auto;
margin-right: auto;
}
/* Header Starts here */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    
    background-image: linear-gradient(rgba(5, 11, 24, 0.8), rgba(0, 0, 0, 0.01));
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 80px;
    /* Transparent background */
}

.logo {
    flex: 0 0 auto;
    padding-left: 30px;
}
.nav-links li{
    margin: 0 55px;
    font-family: 'Gemsbuck 01', sans-serif;
    font-size: 20px;
    
}
.nav-links li:hover {
    color: #cfcdd3;
}

.nav-links,
.social-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}


.social-links li {
    margin: 0 10px;
}

.social-links li:hover {
    transform: translateY(-5px);
}

a {
    color: #fff;
    /* White text color */
    text-decoration: none;
}

/* Responsive design (media queries) */
@media screen and (max-width: 768px) {
.text2 {
        font-size: 14px;
        /* Adjust font size for smaller screens */
        /* Remove width property as it's not needed for responsiveness */
    }

    .head2 {
        font-size: 36px;
        /* Adjust heading size for smaller screens */
    }
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* Adjust margin as needed */
}

.call-to-action {
    text-decoration: none;
    color: #fff;
    /* Button text color */
    background-color: #000;
    /* Button background color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    /* Indicate clickable behavior */
}
.head2 {
    font-family: 'Gemsbuck 01', sans-serif;
    font-size: 60px;
    color: #F0A31A;
    text-align: left;
}
.text2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    margin: 0 auto;
    /* Center the element horizontally */
    text-align: justify;
    padding: 20px;
    /* Add padding for better spacing on smaller screens */
}
/* Article Carousel Starts here */
.article {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;
    margin-left: auto;
    margin-right: auto;
}

.article:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box {
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.article:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.article:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.article:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.article:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.article:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}

.box:nth-child(even) {
    transform: translateY(16px);
}

.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.box:hover::after {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}



/* Signup Starts Here */
/* General Styles */

.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;

    border-radius: 5px;

    text-align: center;
}

h1,
p {
    margin: 10px 0;
}

h1.signup-title {
    color: #FBBA2A;
    /* Orange color */
    font-size: 24px;
    font-weight: bold;
}

p.signup-description {
    color: #333;
    font-size: 16px;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    /* Include padding in width calculation */
}

.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    background-color: #FBBA2A;
    /* Orange color */
    color: #fff;
}

button:hover {
    background-color: #F0A31A;
    /* Darker orange on hover */
}

#success-message {
    color: green;
    /* Green for success message */
    margin-top: 10px;
}

/* Responsiveness (optional) */
@media (max-width: 768px) {
    .form-container {
        width: 90%;
    }
}

/* footer goes here */


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Responsive layout */
    max-width: 1000px;
    margin: 0 auto;
}

.logo {
    flex: 0 0 auto;
    /* Allow logo to shrink */
}

.footer-nav,
.sociall-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li,
.sociall-links li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-nav a {
    padding: 5px 10px;
}

.footer-nav {
    flex-direction: row;
}

.footer-nav li {
    display: inline;
}

.footer-nav a:hover {
    color: #ccc;
    /* Change color on hover */
}

.sociall-links {
    justify-content: flex-end;
    /* Align to right */
}

/* Responsive adjustments (media queries) */
@media screen and (max-width: 768px) {
    .footer-nav {
        display: none;
        /* Hide navigation on small screens */
    }

    .social-links {
        justify-content: center;
        /* Center social links on small screens */
    }
}

.footer-divider {
    border: 1px solid #333;
    /* Thin line */
    margin-top: 20px;
    /* Space between content and line */
}



/* Text and video Container */




.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 300px 0px;
}



    /* Founder Section */

.image-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensure items wrap to next line on narrow screens */
    padding-top: 100px; /* Add upper padding */
    padding-bottom: 100px;
    padding-left: 2px; /* Add left padding */
    padding-right: 2px; /* Add right padding */
}


.image-container {
    text-align: center;
    width: 30%; /* Adjust as needed for broad screens */
    margin-bottom: 5px; /* Add some spacing between items */
    padding: 0 5px; /* Adjust horizontal padding */
}
  

.image-container img {
    border-radius: 50%; /* To create circular borders */
    width: 100%;
    max-width: 300px; /* Adjust size of images as needed */
    height: auto;
    display: block;
    padding: 2px 5px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.image-container p {
    font-weight: 600;
    margin-top: 2px;
    font-size: 24px;
}

/* Media query for narrow screens */
@media screen and (max-width: 600px) {
    .image-section {
        flex-direction: column; /* Align items vertically */
        align-items: center; /* Center items horizontally */
    }

    .image-container {
        width: 100%; /* Adjust width for narrow screens */
    }
}
.image-container img:hover {
    transform: scale(1.1); /* Enlarge the image on hover */
    transition: transform 0.3s ease; /* Add a smooth transition */
}

/* Media query for broader screens */
@media screen and (min-width: 601px) {
    .image-section {
        justify-content: space-between; /* Align items horizontally */
    }

    .image-container {
        width: 30%; /* Adjust width for broader screens */
    }
}
h2 {
    color:#FBBA2A;
    padding-top: 100px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button img {
    margin-right: 5px; /* Adjust the space between image and text */
}
.aka {
    font-style: italic;
    color: #999; /* Example color */
}

/* Styles for real names */
.real-name {
    font-weight: bold;
    color: #FBBA2A; /* Example color */
}
      
      